{% extends 'base.html' %}


{% block content %}

<div class="col-md-6">
            <div class="shadow card">
                <div class="card-body">
                    <h4 class="card-title"><i>{{task2.name}}</i></h4>
                    <p><b>{{task2.priority}}</b></p>
                    <p><B><I>{{task2.date}}</I></B></p>
                    <a class="btn btn-danger" href="{% url 'delete' task2.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' task2.id %}">Update</a>
                </div>
            </div>
{% endblock %}